@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #ffffff;
	line-height: 1;
	-webkit-text-size-adjust: none;
}

/* List */

ol, ul {
	list-style: none;
}

dl {
	margin: 0 0 1.5em 0;
}

dl dt {
	display: block;
	margin: 0 0 0.75em 0;
}

dl dd {
	margin-left: 1.5em;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.nowrap {
     white-space: nowrap;
}

/* Box Model */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body.is-loading *, body.is-loading *:before, body.is-loading *:after {
	-moz-animation: none !important;
	-webkit-animation: none !important;
	-ms-animation: none !important;
	animation: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-ms-transition: none !important;
	transition: none !important;
}

body:after {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	opacity: 0;
	z-index: 1;
	background-color: #ffffff;
}

body.is-loading:after {
	opacity: 1;
}

/* Type */

body, input, select, textarea {
	color: #313f47;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 2;
	letter-spacing: 0.2em;
}

/* Responsive font */

@media screen and (max-width: 1680px) {

	body, input, select, textarea {
		font-size: 16pt;
	}

}

@media screen and (max-width: 840px) {

	body, input, select, textarea {
		font-size: 13pt;
		line-height: 1.75;
	}

}

@media screen and (max-width: 520px) {

	body, input, select, textarea {
		font-size: 10pt;
		line-height: 1.75;
	}

}

a {
	-moz-transition: color 0.2s ease, border-color 0.2s ease;
	-webkit-transition: color 0.2s ease, border-color 0.2s ease;
	-ms-transition: color 0.2s ease, border-color 0.2s ease;
	transition: color 0.2s ease, border-color 0.2s ease;
	color: inherit;
	text-decoration: none;
  color: #008de2;
}

a:before {
	-moz-transition: color 0.2s ease, text-shadow 0.2s ease;
	-webkit-transition: color 0.2s ease, text-shadow 0.2s ease;
	-ms-transition: color 0.2s ease, text-shadow 0.2s ease;
	transition: color 0.2s ease, text-shadow 0.2s ease;
}

a:hover {
    color: #313f47;
              text-decoration: underline;
}

strong, b {
	color: #313f47;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 1.5em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #313f47;
	line-height: 1.5;
	margin: 0 0 1em 0;
	font-size: 1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

h1 {
	font-size: 1.85em;
	letter-spacing: 0.22em;
	margin: 0 0 1em 0;
}

h2 {
	font-size: 1.25em;
}

@media screen and (max-width: 480px) {

	h1 {
		font-size: 1.65em;
	}

}

sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

hr {
	border: 0;
	border-bottom: solid 1px #c8cccf;
	margin: 3em 0;
}

label {
	color: #313f47;
	display: block;
	font-size: 0.9em;
	margin: 0 0 0.75em 0;
}

@media screen and (max-width: 480px) {

	html, body {
		min-width: 320px;
	}

}

/* Wrapping */

#wrapper {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-align-items: center;
	-webkit-align-items: center;
	-ms-align-items: center;
	align-items: center;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-perspective: 1000px;
	-webkit-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	position: relative;
	min-height: 70%;
	z-index: 2;
}

#wrapper > * {
	z-index: 1;
}

#wrapper:before {
	content: '';
	display: block;
}

@media screen and (max-width: 360px) {
	#wrapper {
		padding: 0.75em;
	}
}

body.is-ie #wrapper {
	height: 100%;
}

/* Top Menu */

#topMenu {
	min-width: 95%;
	font-size: 100%;
}

#logo-wrapper {
	padding-top: 40px;
	font-weight: 900;
	font-size: 300%;
	line-height: 100%;
}

#logo-wrapper .twitter-follow-button {
	margin-left: 30px;
}

#logo_and_payoff {
	float: left;
	margin: 0;
}

img#logo {
	float: left;
	height: 118px;
	margin: 10px 40px 50px 0px;
}

#topMenu img#caliper {
	margin-top: 0px;
	height: 112.5px;
	float: right;
}

ul#payoff {
	list-style: none;
	line-height: 75px;
	font-weight: bold;
	text-align: right;
	padding-top: 30px;
}

img.listicon {
	width: 1.5em;
	vertical-align: middle;
	padding-bottom: 3px;
	margin-left: 0.5em;
}

div.full-horizontal {
	clear: both;
	text-align: justify;
	border-top: 1px solid silver;
	line-height: 2em;
} 

div.full-horizontal:after {
  content: "";
  display: inline-block;

  width: 100%;
}

div.full-horizontal a {
	color: black;
	padding: 0 1em;
	padding-bottom: 0.05em;
	transition-duration: .15s;
	transition-timing-function: ease-in-out;
	transition-property: background, color;
}
    
div.full-horizontal a:hover {
	color:#fff;
	text-decoration: none;
}

.hover-blue:hover {
	background-color: #1677B9;
}

.hover-purple:hover {
	background-color: #A61B81;
}

.hover-red:hover {
	background-color: #DE0F20;
}

.hover-orange:hover {
	background-color: #EC7221;
}

.hover-yellow:hover {
	background-color: #FDD42F;
}

.hover-green:hover {
	background-color: #57AC3E;
}


div#fake-bottom-separator {
	width: 100%;
	height: 1px;
	margin-top: -3.9em;
	border-bottom: 1px solid silver;
}


@media screen and (max-width: 1000px) {

	#logo-wrapper {
		font-size: 0.01px;
	}

	#topMenu {
		text-align: center;
	}

	img#logo {
		float: none;
	}

	ul#payoff {
		display: none;
	}
}

@media screen and (max-width: 44em) {
	img#caliper {
		display: none;
	}

	#logo_and_payoff {
		width: 100%;
	}

	img#logo {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

}


/* Body */

.upper {
	text-transform: uppercase;
}

.main {
	clear: both;
	position: relative;
	margin-bottom: 20px;
	width: 95%;
	min-width: 200px;
	text-align: center;
	margin-top: 40px;
	letter-spacing: 0.05em;

	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-moz-transition: opacity 0.5s ease, -moz-transform 0.5s ease;
	-webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
	-ms-transition: opacity 0.5s ease, -ms-transform 0.5s ease;
	transition: opacity 0.5s ease, transform 0.5s ease;
}

.main h1 {
	letter-spacing: 0.1em;
}

img.h1 {
	width: 100px;
}

img.scale-effect {
    -webkit-transition: all 0.3s ease; /* Safari and Chrome */
    -moz-transition: all 0.3s ease; /* Firefox */
    -ms-transition: all 0.3s ease; /* IE 9 */
    -o-transition: all 0.3s ease; /* Opera */
    transition: all 0.3s ease;
}

img.scale-effect:hover {
    -webkit-transform:scale(1.2); /* Safari and Chrome */
    -moz-transform:scale(1.2); /* Firefox */
    -ms-transform:scale(1.2); /* IE 9 */
    -o-transform:scale(1.2); /* Opera */
     transform:scale(1.2);
}


.main p {
	padding-right: 20px;
	padding-left: 20px;
}

.main img {
	vertical-align: baseline;
}

.main img.date {
	margin: 0 25px 25px 25px;
}

.main .col-3 {
	padding-top: 0.5%;
	width: 31%;
	float: left;
	margin: 0 1.0%;
	font-size: 150%;
	letter-spacing: 0;
	line-height: 1.2;
}

.main .vertical-separator {
	float: left;
	height: 100%;
	width: 0.5%;
	background: white;
}

.main .col-3 h3 {
	font-weight: bold;
	font-size: 150%;
	margin: 0.2em;
	line-height: 1.2;
}

table#speaker-table {
	vertical-align: bottom;
	max-width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
}

table tr td {
	vertical-align: middle;
	text-align: justify;
	padding: 1%;
}

tr.tba {
	font-size: 50%;
}

td.talk-cell {
	text-align: center;
	padding-right: 40px;
	border-right: 1px solid silver;
}

span.type-of-talk {
	font-style: italic;
}

span.time-of-talk {

}

span.speaker-name {
	font-weight: bold;
}

td.talk-description {
	padding-right: 40px;
}

tr td.speaker-image {
	width: 20%;
	padding: 0;
	padding-bottom: 1%;
	overflow: hidden;
}

img.responsive-speaker-image {
	display: none;
	width: 50%;
	vertical-align: middle;
	margin: 10px auto;
}

td.speaker-image img {
	width: 100%;
	vertical-align: middle;
}

td.speaker-image img {
    -webkit-transition: all 10s ease; /* Safari and Chrome */
    -moz-transition: all 10s ease; /* Firefox */
    -ms-transition: all 10s ease; /* IE 9 */
    -o-transition: all 10s ease; /* Opera */
    transition: all 10s ease;
}

td.speaker-image img:hover {
    -webkit-transform:scale(2); /* Safari and Chrome */
    -moz-transform:scale(2); /* Firefox */
    -ms-transform:scale(2); /* IE 9 */
    -o-transform:scale(2); /* Opera */
     transform:scale(2);
}

.cfp p {
	margin: 0;
}

.cfp {
	padding-bottom: 20px;
}

section.aftermovie {
	margin-top: -15px;
}

iframe#aftermovie {
	width: 100%;
	height: 500px;
}

#eventbriteButtonImage {
   width: 100%;
   max-width: 253px;
   min-width: 100px;
}

#eventbrite {
	position: relative;
	margin-bottom: 40px;
	max-width: 95%;
	min-width: 200px;
	padding: 3.5em 3em 1em 3em;
	background-color: rgba(255, 255, 255, 0.8);
	opacity: 0.9;
	border-radius: 4px;
	cursor: default;
	text-align: center;
	-moz-transform-origin: 50% 50%;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-moz-transform: rotateX(0deg);
	-webkit-transform: rotateX(0deg);
	-ms-transform: rotateX(0deg);
	transform: rotateX(0deg);
	-moz-transition: opacity 1s ease, -moz-transform 1s ease;
	-webkit-transition: opacity 1s ease, -webkit-transform 1s ease;
	-ms-transition: opacity 1s ease, -ms-transform 1s ease;
	transition: opacity 1s ease, transform 1s ease;
}

img.sponsor {
	width: 300px;
}

ul#location-address {
	float: left;
	text-align: left;

}

iframe#map {
	float: right;
	width: 50%;
	height: 200px;
}

.clear {
	clear: both;
}

.fade {
	background: #F2F2F0; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#FCFCFC, #F2F2F0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#FCFCFC, #F2F2F0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FCFCFC, #F2F2F0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FCFCFC, #F2F2F0); /* Standard syntax */
}

/* Footer */

.footer {
	clear: both;
	-moz-align-self: -moz-flex-end;
	-webkit-align-self: -webkit-flex-end;
	-ms-align-self: -ms-flex-end;
	align-self: flex-end;
            margin: 0 auto;
	padding: 1.5em 10% 1.5em 10%;
	color: rgba(0, 0, 0, 0.75);
	cursor: default;
	text-align: center;
	letter-spacing: 0;
	font-size: 80%;
}

	@media screen and (max-width: 520px) {
		.main {
			min-width: 0;
			width: 100%;
			padding: 4em 2em 2.5em 2em ;
			margin-top: 0;
			margin-bottom: 0;
		}

		section.aftermovie {
			padding: 0;
		}

	    .main .col-3 {
	        width: 100%;
	    }

	    .vertical-separator {
	    	display: none;
	    }

	    .main iframe {
	       min-height: 0px;
	    }

	    table#speaker-table {
    		width: 100%;
    		max-width: 100%;
	    }

	    td.talk-cell {
	    	padding-right: 10px;
	    }

	    td.talk-description {
			padding-right: 0;
		}

	    td.speaker-image {
	    	display: none;
	    }

	    img.responsive-speaker-image {
	    	display: block;
		}

		img.sponsor {
			width: 200px
		}

		ul#location-address {
			float: none;
			text-align: center;
		}

		iframe#map {
			float: none;
			width: 100%;
		}
	}


	

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			content: "ÔÅ∏";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
		}

		.select-wrapper:before {
			color: #c8cccf;
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

	::-webkit-input-placeholder {
		color: #616f77 !important;
		opacity: 1.0;
	}

	:-moz-placeholder {
		color: #616f77 !important;
		opacity: 1.0;
	}

	::-moz-placeholder {
		color: #616f77 !important;
		opacity: 1.0;
	}

	:-ms-input-placeholder {
		color: #616f77 !important;
		opacity: 1.0;
	}

	.formerize-placeholder {
		color: #616f77 !important;
		opacity: 1.0;
	}

