RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.*)$ [NC]
RewriteRule (.*) https://%1%{REQUEST_URI} [L,R=301]

<IfModule mod_headers.c>
  <FilesMatch "talks\.json$">
    Header set X-Robots-Tag "noindex, nofollow"
  </FilesMatch>
  SetEnvIf Request_URI "^/(2015|2016|2018|2022)(/|$)" legacy_archive=1
  Header set X-Robots-Tag "noindex, follow" env=legacy_archive
</IfModule>
