---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Location from "../components/Location.astro";
import Agenda from "../components/Agenda.astro";
import CallForPapersClosed from "../components/CallForPapersClosed.astro";
import Tickets from "../components/Tickets.astro";
import Sponsors from "../components/Sponsors.astro";
import Footer from "../components/Footer.astro";
import Speakers from "../components/Speakers.astro";
import Hosts from "../components/Hosts.astro";
import Support from "../components/Support.astro";
---

<Layout title="Do iOS 2023">
  <main>
    <section class="hero">
      <h1>Welcome to <span class="text-gradient">Do iOS</span></h1>
      <h2>
        Join us in Amsterdam on<br /><strong>November 8 and 9, 2023</strong>.<br
        /><br />Separate workshop on <strong>November 7</strong>.
      </h2>
      <a href="#tickets" class="ticket-button">🚀 Tickets available now 🚀</a>
    </section>
    <section class="email-signup">
      <form
        action="https://sendy.appforce1.net/subscribe"
        method="POST"
        accept-charset="utf-8"
      >
        <label for="email">Stay informed on Do iOS news and updates.</label>
        <div style="text-align:center">
          <input
            type="email"
            name="email"
            id="email"
            class="email"
            placeholder="email address"
            required
          />
          <input
            type="submit"
            value="Subscribe"
            name="submit"
            id="submit"
            class="signup-button"
          />
        </div>
        <div style="display:none;">
          <label for="hp">HP</label><input type="text" name="hp" id="hp" />
        </div>
        <input type="hidden" name="list" value="AdW3A892ID2J58BxyArjRhFw" />
        <input type="hidden" name="subform" value="yes" />
      </form>
    </section>
    <section class="info-grid">
      <div class="info-workshops">
        <Card title="Workshop: Donny Wals on Concurrency" body="November 7" />
        <Card
          title="Workshop: Daniel Steinberg on SwiftData"
          body="November 7"
        />
      </div>
      <Card
        title="2 Conference days with (awesome) talks"
        body="November 8 + 9"
        description="Two conference days filled with talks. A walking dinner to help you connect with your peers, share knowledge, and celebrate iOS development together. Right in the heart of Amsterdam. Join us in November."
      />
      <!-- <Card title='Location' body='NEMO Science Museum' /> -->
    </section>
    <section>
      <p>
        Do iOS is back in 2023. After 4 successful editions in 2015, 2016, 2018,
        and 2022 we again invite you to join us in Amsterdam to celebrate iOS
        development in all its aspects.
      </p>
    </section>
    <Sponsors />
    <Speakers />
    <Hosts />
    <Support />
    <Tickets />
    <CallForPapersClosed />
    <Location />
    <Agenda />
  </main>
  <footer>
    <Footer />
  </footer>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 70ch;
  }
  h1 {
    font-size: 76px;
    line-height: 84px;
    letter-spacing: -1px;
    font-weight: 800;
    margin: 0;
    backdrop-filter: blur(10px);
  }

  .text-gradient {
    display: block;
    background-image: linear-gradient(
      45deg,
      blue,
      violet,
      red,
      orange,
      yellow,
      green
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.5px;
    font-weight: 400;
    text-align: center;
    margin-top: 3rem;
  }

  .hero::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -10;
    display: block;
    background-image: url("/public/logo.png");
    background-size: contain;
    filter: blur(50px);
    /* background-repeat: no-repeat; */
    background-position: center;
    width: 100%;
    height: 400px;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }

  .email-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
  }

  .ticket-button {
    border: 0 solid transparent;
    background: violet;
    color: black;
    padding: 0.5rem 1rem;
    font-size: 24px;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
    text-decoration: none;
  }

  .ticket-button:hover {
    background: blue;
    color: white;
    box-shadow: 0 0 0 4px rgba(1, 1, 1, 0.2);
    border: 0 solid transparent;
  }

  .signup-button {
    border: 0 solid transparent;
    background: violet;
    color: black;
    padding: 0.25rem 1rem;
    /* font-size: 24px; */
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;
    text-decoration: none;
  }

  .signup-button:hover {
    background: blue;
    color: white;
    box-shadow: 0 0 0 4px rgba(1, 1, 1, 0.2);
    border: 0 solid transparent;
  }

  .info-workshops {
    display: grid;
    gap: 1rem;
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  @media only screen and (max-width: 600px) {
    main {
      padding: 0.5rem;
    }

    .ticket-button {
      font-size: 20px;
    }

    .signup-button {
      font-size: 20px;
    }

    .info-grid {
      gap: 1rem;
    }

    p {
      padding: 1rem;
    }
  }
</style>
