---
import TalkCard from "./TalkCard2025.astro";

import { getCollection } from "astro:content";

const allAgendaItems = await getCollection("agenda");
let workshops = [];
let day1Talks = [];
let day2Talks = [];
for (const item of allAgendaItems) {
  const rendered = await item.render();

  const talk = {
    content: rendered.Content,
    type: item.data.type,
    title: item.data.title,
    name: item.data.name,
    time: item.data.time,
    image: item.data.image,
    summary: item.data.summary,
  };
  switch (item.data.date) {
    case "2024-11-12":
      workshops.push(talk);
      break;
    case "2024-11-13":
      day1Talks.push(talk);
      break;
    case "2024-11-14":
      day2Talks.push(talk);
      break;
  }
}

workshops = workshops.sort((a, b) => a.time.localeCompare(b.time));
day1Talks = day1Talks.sort((a, b) => a.time.localeCompare(b.time));
day2Talks = day2Talks.sort((a, b) => a.time.localeCompare(b.time));
---

<div class="agenda-grid">
  <h2>Agenda</h2>
  <div class="agenda-day">
    <h3>2025-11-11 - Workshop</h3>
    <div class="talks">
      <TalkCard
        title="Workshop Day"
        description="Full day of hands-on workshops"
        time="09:00 - 17:00"
        speaker="TBA"
      />
    </div>
  </div>

  <div class="agenda-day">
    <h3>2025-11-12 - Conference Day 1</h3>
    <div class="talks">
      <TalkCard
        title="Welcome"
        description="Opening of the conference"
        time="09:00 - 09:30"
        speaker="TBA"
      />
      <TalkCard
        title="Morning Talks"
        description="Series of talks from our speakers"
        time="09:30 - 12:30"
        speaker="TBA"
      />
      <TalkCard
        title="Lunch Break"
        description="Lunch and networking"
        time="12:30 - 13:30"
        speaker="TBA"
      />
      <TalkCard
        title="Afternoon Talks"
        description="More talks from our speakers"
        time="13:30 - 17:00"
        speaker="TBA"
      />
      <TalkCard
        title="Drinks & Networking"
        description="Social event and networking"
        time="17:00 - 19:00"
        speaker="TBA"
      />
    </div>
  </div>

  <div class="agenda-day">
    <h3>2025-11-13 - Conference Day 2</h3>
    <div class="talks">
      <TalkCard
        title="Welcome"
        description="Opening of day 2"
        time="09:00 - 09:30"
        speaker="TBA"
      />
      <TalkCard
        title="Morning Talks"
        description="Series of talks from our speakers"
        time="09:30 - 12:30"
        speaker="TBA"
      />
      <TalkCard
        title="Lunch Break"
        description="Lunch and networking"
        time="12:30 - 13:30"
        speaker="TBA"
      />
      <TalkCard
        title="Afternoon Talks"
        description="More talks from our speakers"
        time="13:30 - 17:00"
        speaker="TBA"
      />
      <TalkCard
        title="Closing Party"
        description="Final celebration and networking"
        time="17:00 - 20:00"
        speaker="TBA"
      />
    </div>
  </div>
</div> 