---
import nemo from '../data/images/location/nemo.jpeg';
import map from '../data/images/location/nemo-location.png';
---

<section>
  <h2>Conference Location</h2>
  <p>Do iOS 2024 will be in the <b>Nemo Science Museum, Oosterdok 2, 1011 VX Amsterdam</b>.</p>
  <p>Amsterdam, one of many capital cities in Europe. Known for its canals and unique architecture.</p>
  <a
    href='http://maps.apple.com/?address=Oosterdok+2+Amsterdam&q=NEMO+Science+Museum'
    class='map'
  >
    <img src={map} alt="A map showing the Nemo Science Museum's location." />
    <div class='details'>
      <p class='address'>
        <span>Nemo Science Museum</span>
        <span>Oosterdok 2</span>
        <span>1011 VX Amsterdam</span>
      </p>
      <img src={nemo} alt='The Nemo Science museum.' />
    </div>
  </a>
</section>

<style>
  :root {
    --opacity: 1;
    --bottom: 0;
    --scale: 1.5;
  }

  h2 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: 800;
  }

  .map {
    display: block;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
  }

  @media only screen and (min-width: 600px) {
    .map:hover {
      --opacity: 0.3;
      --bottom: -3rem;
      --scale: 1;
    }
  }

  .map > img {
    scale: var(--scale);
    transition: all 0.2s ease-in-out;
  }

  img {
    width: 100%;
    border-radius: 1rem;
  }

  .details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    position: absolute;
    bottom: var(--bottom);
    opacity: var(--opacity);
    backdrop-filter: blur(20px);
    transition: all 0.2s ease-in-out;
  }

  .address {
    font-size: 18px;
    line-height: 28px;
    margin: auto;
    color: black;
  }

  .address span {
    display: block;
  }

  .address span:nth-child(1) {
    font-weight: bold;
  }

  @media only screen and (max-width: 600px) {
    .details {
      grid-template-columns: 1fr;
      position: relative;
      padding: 2rem 0;
    }

    .details img {
      position: absolute;
      z-index: -10;
      opacity: 0.6;
    }
  }
</style>
