---
import revenuecat from '../data/images/sponsors/revenuecat.svg';
import abnamro from '../data/images/sponsors/ABN-AMRO.png';
import stream from '../data/images/sponsors/stream-logo.svg';
---

<section>
  <h2>Sponsors</h2>
  <!-- <h3>Platinum</h3> -->
  <div class='sponsors-grid'>
    <a href='https://www.revenuecat.com/' class='revenue-cat'>
      <img src={revenuecat} alt='RevenueCat logo' />
    </a>
    <a
      href='https://www.werkenbijabnamro.nl/en/vacancies/department/it' class='abn-amro'>
      <img src={abnamro} alt='ABN AMRO logo' />
    </a>
    <a
      href='https://getstream.io/video/docs/' class='stream'>
      <img src={stream} alt='Stream logo' />
    </a>
  </div>
</section>

<style>
  h2 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: 800;
  }

  .sponsors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }
  .sponsors-grid img {
    max-width: 100%;
    /* height: 100%; */
  }

  .sponsors-grid a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
  }

  @media only screen and (max-width: 600px) {
    .sponsors-grid {
      padding: 1rem;
    }
  }
</style>
