---
import guardsquare from "../data/images/sponsors/guardsquare.png";
import rocketsim from "../data/images/sponsors/RocketSim.png";
---

<section id="sponsors">
  <h2>Conference Sponsors</h2>
  <div class="sponsors-grid-gold">
    <a
      href="http://www.guardsquare.com/?utm_source=sponsoring&utm_medium=conference&utm_campaign=do_ios_2025"
      class="guardsquare sponsor-link"
    >
      <img src={guardsquare.src} alt="Guardsquare logo" />
    </a>
    <p><b>Guardsquare</b> provides a comprehensive, easy-to-integrate mobile app security solution, from testing and code hardening to real-time threat visibility. Trusted by over 900 customers worldwide, Guardsquare helps protect apps and SDKs from reverse engineering and tampering throughout the development lifecycle.</p>
  </div>
  <br />
  <div class="sponsors-grid">
    <a
      href="https://www.rocketsim.app?utm_source=sponsoring&utm_medium=conference&utm_campaign=do_ios_2025"
      class="rocketsim sponsor-link"
    >
      <img src={rocketsim.src} alt="RocketSim logo" />
    </a>
    <p>Boost your productivity and streamline your workflow with our powerful Xcode Simulator tools. Developers report building, testing, and verifying apps up to 2x faster with <b>RocketSim.</b></p>
  </div>
  <br />
  <h3>Support Do iOS</h3>
  <p>
    We are still looking for additional sponsors for the 2025 edition of Do iOS. Please
    contact us at{" "}
    <a href="mailto:info@do-ios.com">info@do-ios.com</a> for more
    information.
  </p>
</section>

<style>
  h2 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .sponsors-grid-gold {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 2rem;
  }

  .sponsor-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    transition: all 0.3s ease;
  }

  .sponsor-link img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
  }

  .sponsor-link:hover {
    transform: scale(1.05);
  }

  .sponsor-link:hover img {
    opacity: 0.8;
  }

  .screenshotbot {
    height: 150px;
  }

  .rocketsim {
    height: 100px;
  }

  @media only screen and (max-width: 600px) {
    .sponsors-grid-gold {
      grid-gap: 1rem;
    }

    .sponsors-grid {
      grid-gap: 1rem;
    }

    .sponsor-link {
      height: 4rem;
    }

    .guardsquare {
      height: 100px;
    }

    .rocketsim {
      height: 80px;
    }
  }
</style>
