---
import revenuecat from "../data/images/sponsors/revenuecat.svg";
import abnamro from "../data/images/sponsors/ABN-AMRO.png";
import stream from "../data/images/sponsors/stream-logo.svg";
import ing from "../data/images/sponsors/ING.png";
---

<section id="sponsors">
  <h2>Sponsors</h2>
  <div class="sponsors-grid">
    <a href="https://www.revenuecat.com/" class="revenue-cat">
      <img src={revenuecat} alt="RevenueCat logo" />
    </a>
    <a
      href="https://www.werkenbijabnamro.nl/en/vacancies/department/it"
      class="abn-amro"
    >
      <img src={abnamro} alt="ABN AMRO logo" />
    </a>
    <a
      href="https://getstream.io/chat/sdk/swiftui/?utm_source=doiOS&utm_medium=sponsorship&utm_content=&utm_campaign=doiOS_November2023_event_klmh22"
      class="stream"
    >
      <img src={stream} alt="Stream logo" />
    </a>
    <a href="https://www.ing.jobs/netherlands/vacancies.htm" class="ing">
      <img src={ing} alt="ING logo" />
    </a>
  </div>
</section>

<style>
  h2 {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: 800;
  }

  .sponsors-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 4rem;
  }
  .sponsors-grid img {
    max-width: 100%;
    /* height: 100%; */
  }

  .sponsors-grid a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
  }

  @media only screen and (max-width: 600px) {
    .sponsors-grid {
      padding: 1rem;
    }
  }
</style>
