---
const { handle } = Astro.props;
import x from "../data/images/x-logo.svg";
---

<a href={`https://x.com/${handle}`} class="x-button">
  <img src={x.src} alt="x's logo" />
  <p>@{handle}</p>
</a>

<style>
  .x-button {
    background: var(--x-blue);
    border-radius: 0.5rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    color: white;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }

  .x-button:hover {
    background: var(--x-black);
  }

  .x-button img {
    width: 1rem;
    aspect-ratio: 1;
  }

  .x-button p {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }
</style>
