---
import Navbar from '../components/Navbar.astro';
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name="description" content="Meet us in Amsterdam in November 2023."/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://do-ios.com/images/card.png?v=1337">
    <meta name="twitter:site" content="@iosconf">
    <meta name="twitter:title" content="DO iOS Conference - The iOS conference in Amsterdam">
    <meta name="twitter:description" content="Meet us in Amsterdam in November 2023.">
    <meta property="og:url" content="https://do-ios.com/" />
    <meta property="og:title" content="DO iOS Conference - The iOS Conference in Amsterdam" />
    <meta property="og:description" content="Meet us in Amsterdam in November 2023." />
    <meta property="og:image" content="https://do-ios.com/images/card.png?v=31337" />
    <meta name="keywords" content="iOS conference amsterdam do november 2023"/>
    <link rel="stylesheet" href="bootstrap-4.5.3-dist/css/bootstrap.min.css" async>
    <link rel="stylesheet" href="main.css?v=57"/>
    <link rel="shortcut icon" type="image/png" href="/images/logo-60.png"/>
    <link rel="apple-touch-icon" href="/images/logo-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/logo-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/logo-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/logo-152.png">

    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <!-- Cronitor RUM -->
    <script async src="https://rum.cronitor.io/script.js"></script>
    <script>
        window.cronitor = window.cronitor || function() { (window.cronitor.q = window.cronitor.q || []).push(arguments); };
        cronitor('config', { clientKey: '88a303a6306e1c02db1cd0c59c1cf533' });
    </script>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );

    --my-blue: hsl(203, 100%, 36%);
    --my-violet: #6B0097;
    --my-dark-red: #BE007D;
    --my-red: #E20913;
    --my-orange: #F8B000;
    --my-yellow: #F9D602;
    --my-green: hsl(105, 55%, 44%);

    --my-blue-hover: hsl(203, 100%, 46%);
    --my-violet-hover: #a61b81;
    --my-red-hover: #de0f20;
    --my-orange-hover: #ec7221;
    --my-yellow-hover: #fdd42f;
    --my-green-hover: hsl(106, 47%, 46%);

    --my-blue-background: hsl(203, 100%, 97%);

    --my-gradient: linear-gradient(
      45deg,
      var(--my-blue),
      var(--my-violet),
      var(--my-red)),
      var(--my-orange),
      var(--my-yellow),
      var(--my-green);
    );

    --border-color: #e3e4e5;

    /* Font colors */
    --primary-text-color: #333;
    --secondary-text-color: #666;

    /* Font sizes */
    --font-headline-size: 24px;
    --font-headline-line-height: 32px;

    --font-text-size: 18px;
    --font-text-line-height: 28px;

    /* Brand colors */
    --twitter-blue: #1DA1F2;
    --twitter-black: #14171A;
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
    scroll-behavior: smooth;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  section, nav {
    max-width: 70ch;
    margin: 1rem auto;
  }
</style>
